<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite>
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <php>
        <const name="LANGUAGETOOL_DIR" value="C:\\Glicer\\LanguageTool\\"/>
        <const name="LANGUAGETOOL_PORT" value="8081"/>
    </php>
</phpunit>
